%h3 Calendar

%ul.calendar
  - @calendar_events.each do |event|
    %li{ class: ("past-event" if event.start_time < DateTime.now) }
      %strong= "#{event.start_time.to_formatted_s(:agenda_start)} - #{event.end_time.to_formatted_s(:agenda_end)}"
      %br= link_to(event.summary, event.url, target: '_blank')

  - if @calendar_events.empty?
    %li.no-events No upcoming events

